.container h1{
  font-family: 'condiment', serif;
}

.col-md-12 h3{
  font-family: 'codystar', serif;
  font-weight: bolder;
}

.container li{
  font-family: 'poiret one',cursive;
  font-weight: bolder;
  font-size: 12pt;
}

.col-md-9 h3{
  font-family: 'poiret one',cursive;
  font-weight: bolder;
  font-size: 16pt;
}
